.home-divider{
    width: 80%;
    height: 2px;
    margin: 20px auto;
    border: 1px;
    border-radius: 5px;
    background-color: black;
}
.overflow-scroll::-webkit-scrollbar {
    display: none;
}
.overflow-scroll{
    -ms-overfloow-style: none;
    scrollbar-width: none;
}
.removeIcon:hover{
    color: #dc3545;
}
.product-card-img{
    height: 150px;
    object-fit: contain;
}

.rating-count{
    font-size: 0.8em;
}